coerce.h
ctex.ch
iextra.c
iextra.o
initex.c
initex.o
itex.c
itex.o
openinout.c
openinout.o
tex.p
tex.pool
tex0.c
tex0.o
tex1.c
tex1.o
tex2.c
tex2.o
tex3.c
tex3.o
tex4.c
tex4.o
tex5.c
tex5.o
tex6.c
tex6.o
tex7.c
tex7.o
tex8.c
tex8.o
tex9.c
tex9.o
texd.h
vextra.c
vextra.o
